<a href="https://colab.research.google.com/github/DimaFrank/Financial_Math/blob/main/IRR%26NPV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import os
import io
import csv
from google.colab import files
import numpy_financial as npf

In [ ]:
headers = ['Month', 
           'Bank of Israel nominal Interest rate',
           'Bank of Israel effective  interest rate']

df = pd.read_excel(r'https://www.boi.org.il/he/DataAndStatistics/Lists/BoiTablesAndGraphs/bointcrh.xls', 
                   sheet_name = 'גיליון1',
                   header=2,
                   nrows = 4,
                   usecols = [0,1,2]              
                   )
df.columns = headers

In [ ]:
rate = df.iat[1,2]
rate

0.10004987950000012

In [ ]:
cashflow = pd.read_csv("cashflowT1.csv", header=None)
cashflow

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,-500,100,500,200,10.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,300,400,500,600,700.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-7000,150,160,125,10000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-120000,3500,3500,3500,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0,...,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0
4,-350,150,150,150,150.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,-5,4,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,-1000000,72000,72000,72000,72000.0,72000.0,72000.0,72000.0,72000.0,72000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,-330,100,100,100,100.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

def sign(x):
  if x < 0 : return -1
  else: return 1

f = lambda IRR: -5+3*(1/(1+IRR))+4*(1/(1+IRR))**2+4*(1/(1+IRR))**3
IRR = 0
direction = sign(f(IRR))

i=1
while (direction == sign(f(IRR))):
    x1 = IRR
    i+=1
    IRR+=(0.01*i) 
    x2 = IRR
print ('Solution between %s, %s'%(x1,x2))

Solution between 0.44000000000000006, 0.54

In [ ]:
epsilon = 0.00001
i=1
while (abs(f(IRR)) > epsilon):
    if sign(f(x1)) == sign(f(IRR)):
        x1 = IRR
    else:
        x2 = IRR
    IRR = (x1+x2)/2
    print ('itter %d: Solution between %s, %s and f(x)=%s'%(i,x1,x2,f(IRR)))
    i+=1
print(IRR,f(IRR))

itter 1: Solution between 0.49390625000000005, 0.49395507812500006 and f(x)=6.64388423741169e-05
itter 2: Solution between 0.4939306640625001, 0.49395507812500006 and f(x)=-8.666297948600743e-06
0.49394287109375007 -8.666297948600743e-06

In [ ]:
npf.irr([-5,3,4,4])

0.49394146252194515